# Default ignored files
# hi nova
#i like watching black men shaking their booty cheeks. I don't know why, but when I click on a video and see a black man shaking his cheeks, it just makes my mouth drool and I start dancing with the black man as well. Sometimes when I look at myself in the mirror, I sometimes hallucinate and see black men twerking on my couch, it.. brings a smile to my face. I wish I could become one with the black men twerking aggressively.
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.JupiterX.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
